# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/

# IDE/project files
.vscode/
.idea/

# Logs
*.log

# Byte-compiled / optimized / DLL files
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
.coverage
.tox/
.nox/
.pytest_cache/
htmlcov/

# Misc
*.sqlite3